body {
  
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Indie Flower', cursive;
  

  border: 2px solid var(--gs0);
  border-radius: 8px;

}

.section-wrapper {

  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;

}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-bottom: 10px;
  /*border: 2px solid #333;*/
  overflow: scroll;
  position: relative;
}

.x-mandatory {
  scroll-snap-type: x mandatory;
}

.y-mandatory {
  scroll-snap-type: y mandatory;
}

.both-mandatory {
  scroll-snap-type: both mandatory;
}



/*.section { height: 100vh;}*/

.section-init { 
  height: 100%;
  /*text-align: right;*/
  /*scroll-snap-align: start;*/

  scroll-snap-align: start;

  justify-content: center;
  align-items: left;
  margin: 5% 5% 5% 5%;
  /*height: 33vh;*/
  /*display: flex;*/
  /*justify-content: center;*/
  
  /*font-size: 4rem;*/

  }
.section-map { 
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 5% 5% 5% 5%;
  }

.section-stats { 
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 5% 5% 5% 5%;
  }


.img-init{
  margin-top: 5%;
}

/**/



.some-page-wrapper {
  margin: 15px;
  background-color: red;
}

/*Flexbox*/

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.header {
  font-size: 65px;
  align-items: center;
  justify-content: space-around;
}

.header-small {
  font-size: 35px;
  align-items: center;
  justify-content: space-around;
}

.header-notes {
  font-size: 15px;
  align-items: center;
  justify-content: space-around;
}

/* Styling the map*/

#map {
  width: 80%;
  margin: 0 10% 3% 10%;
}

.circle {
  fill: #7500a9;
  opacity: .5;
}

.rect {
  fill: red;
  opacity: .5;
}

.circle:hover {
  opacity: 1;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 300px;
  height: 150px;
  padding: 2px;
  font: 12px sans-serif;
  /*background: lightsteelblue;*/
  background: white ;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Indie Flower', cursive;
}


/* Color Legend*/
.parent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.child {
  /*flex: 1 0 21%;  explanation below */
  margin: 5px;
  /*height: 100px;*/
  /*background-color: blue;*/
}
 #legend-clothing {
      width: 20px;
      height: 20px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: #F9FA74;
    }

 #legend-wood {
      width: 20px;
      height: 20px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: #D82E20;
    }

 #legend-chemicals {
      width: 20px;
      height: 20px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: #98ACE3;
    }

 #legend-electronics {
      width: 20px;
      height: 20px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: #9FC55C;
    }

#legend-metal {
      width: 20px;
      height: 20px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: #F5B85A;
    }

#legend-misc {
      width: 20px;
      height: 20px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: #53B9D7;
    }


/*dognut chart*/
.pie {
  margin: 20px;
}

.pie text {
  font-family: "Montserrat";
  font-size: 12px;
  fill: #888;
}

.pie .name-text{
  font-size: 1em;
}

.pie .value-text{
  font-size: 3em;
}



.radar-chart{
  /*width:50%;*/
}
#half {
  width: 50%;
  float: right;
}

.factory-list{
  /*list-style: none; */
  list-style: check;
  text-align: left; 
  margin: 10% 10% 10% 10%;
  font-size: 25px;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: black;
}

/**/

